*,
*::before,
*::after  {
    box-sizing: border-box;
}

.dark-theme {
    --black: #CCCCCC;
    --white: #031923;
}

.dark-theme .social-link {
    background-color: #CCCCCC;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--white);
}

h1  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
}

h2  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;   
    margin: 0px;
}

p.subtitle_regular  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    color: var(--blue);
}

a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
}

button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-color: var(--white);
    color: var(--blue);
    text-transform: lowercase;
    border-radius: 8px;
    padding: 6px 10px 10px;
    border: 1px solid var(--blue);
}

button:hover {
    background-color: var(--blue);
    color: var(--white);
}

:root {
    --black: #212121;
    --blue: #09A494;
    --white: #FFFFFF;
}

footer.main-footer {
    color: var(--white);
    background-color: var(--black);  
    padding: 50px 0 ;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header .main-nav a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--black);
}

.main-header .main-nav a:hover{
    color: var(--blue);
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--blue);
}

.social-link-vkontakte{
    background-image: url("../image/vk.svg");
}

.social-link-telegram{
    background-image: url("../image/telegram.svg");
}

.social-link-github{
    background-image: url("../image/github.svg");
}

ul.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

ul.contacts li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.contacts a{
    padding: 5px 5px 0px 42px;
    text-decoration: none;
    color: var(--black);
}

a.contact-link-phone {
    background-image: url("../image/phone.svg");
    background-repeat: no-repeat;
}

.dark-theme .contact-link-phone {
    background-image: url("../image/dark-theme/phone.svg");
}

a.contact-link-email {
    background-image: url("../image/email.svg");
    background-repeat: no-repeat;
}

.dark-theme .contact-link-email {
    background-image: url("../image/dark-theme/email.svg");
}

.contacts a:hover {
    color: var(--blue);
}

.user-photo {
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--blue);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../image/skills/html.svg");
    gap: 20px;
}


.skill-item_css {
    background-image: url("../image/skills/css.svg");
}


.skill-item_cpp {
    background-image: url("../image/skills/c++.svg");
}


.skill-item_python {
    background-image: url("../image/skills/python.svg");
}

.skill-item_csharp {
    background-image: url("../image/skills/csharp.svg");
}

.skill-item_photoshop {
    background-image: url("../image/skills/photoshop.svg");
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    
    
.main-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
 
header.main-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0px 0px;
    gap: 40px;
    margin-bottom: 120px;
}

.main {
    display: flex;
    justify-content: space-between;
}


.main div {
    display: flex;
    flex-direction: column;
}

.main div h1 {
    margin: 0;
    margin-bottom: 20px;

} 


.main div p{
    display: flex;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.skills div {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1240px;
    gap: 40px;
}

.skills div.sort {
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* 
.contacts ul{
    display: flex;
    gap: ;
} */

section {
    margin: 0;
    margin-bottom: 120px;
}
section.main{
    align-items: center;
}

.text-wrapper {
    max-width: 800px;
}

ul.contacts {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

ul.social {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-header .main-nav > a {
    padding: 0;
}


.nav-btn {
    display: none;
}


div.sort-wrapper {
    margin: 0 0 40px 0;
}

h2.subtitle {
    margin: 0 0 40px 0;
}

@media screen and (max-width: 1024px) {   
	h1{
        font-size: 50px;
    }   
    h2  {
        font-size: 24px;
    }
    p.subtitle_regular {
        font-size: 28px;
    }
    a {
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .user-photo {
        width: 250px;
        height: 250px;
    }
    section {
        margin: 0;
        margin-bottom: 80px;
    }
    header.main-header{
        margin-bottom: 80px;
    }
    body {
        font-size: 16px;
    }
    .skills .sort-wrapper h2{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {   
	h1{
        font-size: 50px;
    }   
    h2  {
        font-size: 24px;
    }
    p.subtitle_regular {
        font-size: 28px;
    }
    a {
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .user-photo {
        width: 250px;
        height: 250px;
    }
    body {
        font-size: 16px;
    }
    section {
        margin: 0;
        margin-bottom: 80px;
    }
    .skills .sort-wrapper h2{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 650px) {   
	h1{
        font-size: 32px;
    }   
    h2  {
        font-size: 20px;
    }
    div.sort-wrapper {
        margin: 0 0 30px 0;
    }
    h2.subtitle {
        margin: 0 0 30px 0;
    }
    p.subtitle_regular {
        font-size: 20px;
    }
    a {
        font-size: 14px;
        padding: 0px;
    }
    button {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    header.main-header {
        flex-direction: column;
        padding: 20px 0px 0px;
        gap: 20px;
        text-align: center;
        margin-bottom: 60px;
    }
    .main-nav {
        flex-direction: column;
    }
    .main-header .main-nav ul{
        flex-direction: column;         
    }

    .main-header .main-nav li{
        padding: 20px 30px;
        gap: 10px;
    }

    .main-header .main-nav img {
        height: 39.12px;
        width: 39.12px;
    }
    .main-header-wrap img {
        height: 40px;
        width: 40px;
    }
    .nav-btn {
        display: block;
        width:30px;
        height:30px;
        border: none;
    }
    .nav-btn_close {
        background-image: url("../image/close.svg");
    }
    .nav-btn_open{
        background-image: url("../image/burger.svg");
    }
    
    .main-header-wrap{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    } 
    .user-photo {
        width: 150px;
        height: 150px;
    }
    .main {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .main div {
        align-items: center;
    }
    .main div h1 {
        margin-bottom: 10px;
    }
    ul.contacts a {
        padding: 8px 0px 8px 42px;
    }
    body {
        font-size: 14px;
    }
    footer.main-footer {
        padding: 30px 0;
    }
    section {
        margin: 0;
        margin-bottom: 60px;
    }
    .main-header .main-nav a {
        padding: 0px;
    }
    .skills div.sort {
        align-items: center;
    }
    .skills .sort-wrapper h2{
        margin-bottom: 0;
    }
    }

@media screen and (max-width: 550px) {  
    div.sort {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    div.sort-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .sort button {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .skills div{
        flex-direction: column;
        gap: 20px;
    }
    .skills div h2 {
        margin: 0px;
    }
    .skills div.sort{
        gap: 10px;
        margin-bottom: 30px;
    }
    .sort button {
        width: 100%;
    }
    
    ul.contacts a {
        padding: 8px 0px 8px 42px;
    }
    .skills .sort-wrapper h2{
        margin-bottom: 0;
    }
 }


@media screen and (max-width: 360px) {   
	h1{
        font-size: 32px;
        text-align: center;
    }   
    h2  {
        font-size: 20px;
    }
    div.sort-wrapper {
        margin: 0 0 30px 0;
    }
    h2.subtitle {
        margin: 0 0 30px 0;
    }
    p.subtitle_regular {
        font-size: 20px;
    }
    a {
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    } 

    .nav-btn {
        display: block;
        width:30px;
        height:30px;
    }
    .nav-btn .nav-btn_close {
        background-image: url("../image/close.svg");
    }
    .nav-btn_open{
        background-image: url("../image/burger.svg");
    }
    
    .main-header-wrap{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .user-photo {
        width: 150px;
        height: 150px;
     }
    .skills div{
        flex-direction: column;
        gap: 20px;
    }
    .skills div h2 {
        margin: 0px;
    }
    .skills div.sort{
        gap: 10px;
        margin-bottom: 30px;
    }
    .sort button {
        width: 100%;
    }
    ul.contacts {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }
    ul.social {
        flex-wrap: wrap;
    }
    footer .main-footer{
        padding: 30px 0;
    }
    body {
        font-size: 14px;
    }  
    footer.main-footer {
        padding: 30px 0;
    }
    section {
        margin: 0;
        margin-bottom: 50px;
    } 
}
