*,
*::before,
*::after  {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--black);
}

h1  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
}

h2  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

h3  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    
}

p.subtitle_regular  {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    color: var(--blue);
}

a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}

button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}

:root {
    --black: #212121;
    --blue: #09A494;
    --white: #FFFFFF;
}

footer.main-footer {
    color: var(--white);
    background-color: var(--black);  
    padding: 50px 244px;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header .main-nav a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--black);
}

.main-header .main-nav a:hover{
    color: var(--blue);
}

button {
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--white);
    color: var(--blue);
    text-transform: lowercase;
    border-radius: 8px;
    padding: 6px 10px 10px;
    border: 1px solid var(--blue);
}

button:hover {
    background-color: var(--blue);
    color: var(--white);
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--blue);
}

.social-link-vkontakte{
    background-image: url("../image/vk.svg");
}

.social-link-telegram{
    background-image: url("../image/telegram.svg");
}

.social-link-github{
    background-image: url("../image/github.svg");
}

ul.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.contacts li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.contacts a{
    padding: 5px 5px 0px 42px;
    text-decoration: none;
    color: var(--black);
}

a.contact-link-phone {
    background-image: url("../image/phone.svg");
    background-repeat: no-repeat;
}

a.contact-link-email {
    background-image: url("../image/email.svg");
    background-repeat: no-repeat;
}

.contacts a:hover {
    color: var(--blue);
}

.user-photo {
    border-radius: 50%;
}

.skill-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--blue);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../image/skills/html.svg");
    gap: 20px;
}


.skill-item_css {
    background-image: url("../image/skills/css.svg");
}


.skill-item_cpp {
    background-image: url("../image/skills/c++.svg");
}


.skill-item_python {
    background-image: url("../image/skills/python.svg");
}

.skill-item_csharp {
    background-image: url("../image/skills/csharp.svg");
}

.skill-item_photoshop {
    background-image: url("../image/skills/photoshop.svg");
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    
    
.main-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
 
header.main-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0px 0px;
    gap: 40px;
    margin-bottom: 120px;
}

.main {
    display: flex;
    justify-content: space-between;
}


.main div {
    display: flex;
    flex-direction: column;
}

.main div h1 {
    margin: 0;
    margin-bottom: 20px;

} 


.main div p{
    display: flex;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

.skills div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    gap: 40px;
}

.skills div.sort {
    gap: 30px;
}
/* 
.contacts ul{
    display: flex;
    gap: ;
} */

section {
    margin: 0;
    margin-bottom: 120px;
}
section.main{
    align-items: center;
}

.text-wrapper {
    max-width: 800px;
}

section.contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

ul.contacts {
    display: flex;
    gap: 40px;
}

ul.social {
    display: flex;
    gap: 20px;
}